@{
    ViewData["Title"] = "Excluir contato";
}

<div class="text-center">
    <h3>Realmente deseja excluir o contato?</h3>

    <a class="btn btn-primary d-block w-100 mb-3">Confirmar</a>
    <a class="btn btn-danger d-block w-100 mb-3">Cancelar</a>
</div>