@model List<ContactModel>

<table class="table" id="contact-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Celular</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            @foreach (var contato in Model)
            {
                <tr>
                    <th scope="row">@contato.Id</th>
                    <td>@contato.Name</td>
                    <td>@contato.Email</td>
                    <td>@contato.Phone</td>
                </tr>
            }
        }
        else
        {
            <tr class="odd">
                <th></th>
                <td></td>
                <td>Nenhum usuário cadastrado</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>