<!DOCTYPE html>
<html lang="pt-br">
    <head>
        @model RedefinePasswordLoginModel
        @{
            Layout = "_LayoutLoggedOut";
            ViewData["Title"] = "Redefinir Senha";
        }
    </head>
    <body>
        <section class="vh-100 d-flex justify-content-center align-items-center" style="background-color: #051933;">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="background-color: rgba(9,51,102,.4); border-color: #167bf7; border-radius: 1rem;">
                    <div class="card-body p-5">

                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
                                @TempData["ErrorMessage"]
                            </div>
                        }

                        <h1 class="mb-5 text-center" style="color: #2BFDBE; font-weight: 800;">Redefinir Senha</h1>                  
                        <form asp-controller="Login" asp-action="SendLinkToRedefinePassword" method="post">
                            <div class="mb-3">
                                <label for="login" class="form-label" style="color: #2BFDBE; font-size:large; font-weight: 800;">Login</label>
                                <input type="text" asp-for="Login" class="form-control" id="login">
                                @Html.ValidationMessageFor(x => x.Login)
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label" style="color: #2BFDBE; font-size:large; font-weight: 800;">E-mail</label>
                                <input type="email" asp-for="Email" class="form-control" id="email">
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>

                            <button type="submit" class="btn btn-primary btn-block w-100 mb-3" style="background: #2BFDBE; color: #051933;">Redefinir senha</button>
                            <a class="btn btn-danger d-block w-100 mb-3" role="button" asp-controller="Login" asp-action="Index">Voltar</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>